@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        @apply h-full bg-background-main text-text-main antialiased scroll-smooth overflow-x-hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold tracking-tight text-text-main;
    }
}

@layer utilities {

    /* Custom Scrollbar for B2B Dashboards */
    .scrollbar-thin::-webkit-scrollbar {
        @apply w-1.5 h-1.5;
    }

    .scrollbar-thin::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors;
    }

    /* Hide scrollbar but allow scroll */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}